#faqBtn {
  font-size: 2rem;
  color: #222222;
  background-color: #b1bdb2;
  margin-left: 50px;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  position: absolute;
  bottom: 90px;
  right: 35px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  z-index: 2;
}

.upcomingMovies {
  text-align: center;
  width: 50%;
  margin: 8em auto 0 auto;
  color: white;
  background-color: rgba(14, 88, 88, 0.521);
  border: 2px gray solid;
  border-radius: 5px;
  padding: 2em;
  padding-bottom: 8em;
  ul {
    text-align: left;
    list-style-type: none;
    padding: 0;
    width: fit-content;
    margin: 0 auto;
  }
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 2em;
    margin-top: 2em;
  }
  li {
    margin-top: 0.5em;
    font-size: 2em;
    .screeningTime {
      font-weight: bold;
      font-size: 1.005em;
      color: rgb(177, 175, 175);
    }
    .screeningMovie {
      font-weight: bold;
      color: rgb(235, 185, 160);
      padding-left: 0.5em;
      font-size: 1em;
      &:hover {
        color: rgb(241, 51, 51);
      }
    }
  }
}
