<header id="header">
  <div class="header__div">
    <a href="/" class="header__logo"
      ><img
        src="../static/assets/logo-biograf_regna.png"
        class="logo" alt="Folkets Bio homepage"
    /></a>
    <nav aria-label="Main navigation">
      <ul>
        <li><a href="/filmer">Filmer</a></li>
        <li><a href="/om-oss">Om oss</a></li>
        <li><a href="/evenemang">Evenemang</a></li>
        <li><a href="/biljetter">Biljetter</a></li>
        <li><a href="/english">English</a></li>
      </ul>
    </nav>
  </div>
</header>
